.jumbotron
	%h1 Tasks
	<a class="btn btn-primary" href="/" role="button">Home »</a>
	<a class="btn btn-primary" href="/tasks/new" role="button">Add a task »</a>

<div class="container">
- @tasks.each do |a|
	<div class="col-lg-4">
	Task:
	= a.task_name
	%br
	Description
	= a.description
	%br
	Due on:
	= a.due_date
	%br
	Task Status:
	- if a.done == false	
		="NOT DONE"
		= button_to "Mark Done", show_not_done_item_task_path(a), method: :get
		= button_to "Edit", edit_task_path(a), method: :get
		= button_to "Delete", task_path(a), method: :delete
	- else
		="DONE"
		= button_to "Edit", edit_task_path(a), method: :get
		= button_to "Delete", task_path(a), method: :delete
	%br
	%br
	</div>
</div>


= form_tag(search_tasks_path, method: "get") do
	= label_tag("Assignees")
	= select_tag "search[assignee_name]", options_for_select(Assignee.uniq.pluck(:assignee_name)), include_blank: true
	= label_tag("Tasks")
	= select_tag "search[task_name]", options_for_select(Task.uniq.pluck(:task_name)), include_blank: true
	= label_tag("Date From:")
	= text_field_tag "search[due_date_from]"
	= label_tag("Date To:")
	= text_field_tag "search[due_date_to]"
	= label_tag("Task Complete?:")
	= select_tag "search[done]", options_for_select(["t", "f"]), include_blank: true
	= submit_tag "Search"

